- tml_begin_source("header")
.navbar.navbar-default
  .container
    a.navbar-brand(href='/')
      strong Foody
    |     
    .navbar-right.navbar-text
      != tml_language_selector('popup', {toggle: false})
      != tml_language_selector('sideflags')
- tml_end_source()